<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        
        <div class="h-100 d-flex justify-content-center align-items-center vertical-center">
            <div class="card borderless" style="width: 40%; border-radius: 5px;">   
                <div class="card-header text-center" style="background-color: rgb(241, 255, 255);">
                  <h5 class="mt-1">Üye Ol</h5>
                </div>
                <div class="card-body cardBody">

                <form [formGroup]="RegisterForm" (ngSubmit)="SubmitForm()">

                    <div class="form-group">
                        <label>E-Mail</label>
                        <input type="email" class="form-control" formControlName="email">
                    </div>

                    
                    <div class="form-group">
                        <label>Ad</label>
                        <input type="text" class="form-control" formControlName="name">
                    </div>


                    <div class="form-group">
                        <label>Soyad</label>
                        <input type="text" class="form-control" formControlName="lastname">
                    </div>


                    <div class="form-group">
                        <label>Şifre</label>
                        <input type="password" class="form-control" formControlName="password">
                    </div>

                    <div class="form-group">
                        <label>Şifre (Tekrar)</label>
                        <input type="password" class="form-control" formControlName="passwordConfirm">
                    </div>

                    
                    <div class="text-center">
                        <button type="submit" class="btn btn-outline-primary mt-2">Üye Ol</button>
                        <button type="reset" class="btn btn-outline-primary mt-2 ml-1">Temizle</button>
                    </div>                                                              
                </form>
                        </div>
                    </div>
                </div>

    </div>
    <div class="col-md-1"></div>
</div>
