.jumbotron
{
    text-align: center;
   
}


p
{
    font-size: 18px;
    margin-top: 20px;
}


.row
{
    text-align: center;
}


.cardHeader{
    background-color: rgb(228, 255, 255);
}

.cardBody{
    background-color: rgb(249, 255, 255);
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

}