<div class="jumbotron mt-5">
    <h1>Bilgi Yarışması Platformuna Hoşgeldiniz!</h1>
    
    <p class="mt-4">Bilgilerinizi Girerek Sisteme Kayıt Olabilir, Sonrasında Platformu Kullanmaya Başlayabilirsiniz.</p>
    <p >İster Tek Başınıza Soru Çözebilir, İsterseniz de Kullanıcılar İle Yarışabilirsiniz.</p><br>


    <div class="row mt-4">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <button [routerLink] = "['/Login']" routerLinkActive="active" class="btn btn-block btn-primary"><b>Giriş Yap</b></button>
        </div>
        <div class="col-md-4"></div> 
    </div>


    <div class="row mt-4">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <button [routerLink] = "['/Register']" routerLinkActive="active" class="btn btn-block btn-primary"><b>Üye Ol</b></button>
        </div>
        <div class="col-md-4"></div> 
    </div>

</div>


