<div *ngIf="this._authService.isAuthenticated; then AuthenticatedNavbar else UnauthenticatedNavbar"></div>

<ng-template #UnauthenticatedNavbar>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">

        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link mr-3" [routerLink] = "['/Home']" routerLinkActive="active"><b>Anasayfa</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-3" [routerLink] = "['/Competitions']" routerLinkActive="active"><b>Yarışmalar</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-3" [routerLink] = "['/Register']" routerLinkActive="active"><b>Üye Ol</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-5" [routerLink] = "['/Login']" routerLinkActive="active"><b>Giriş Yap</b></a>
                </li>
            </ul>
        </div>
    </nav>
</ng-template>



<ng-template #AuthenticatedNavbar>
    
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">

        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link mr-3" [routerLink] = "['/Home']" routerLinkActive="active"><b>Anasayfa</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-3" [routerLink] = "['/Competitions']" routerLinkActive="active"><b>Yarışmalar</b></a>
                </li>
                <li class="nav-item dropdown mr-5">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <b>{{this._authService.getAccessToken.name}}</b>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item"  (click)="Logout()">Çıkış Yap</a>
                    </div>
                  </li>
            </ul>
        </div>
    </nav>
</ng-template>

